</div>
    <footer class="navbar-default navbar-fixed-bottom">
      <div class="container-fluid text-center footer">
        <%
        messages = [
            "<i class='glyphicon glyphicon-lightbulb'></i>&nbsp;&nbsp;Tip: Use SpiderFoot to automate OSINT collection across multiple sources and save valuable time.",
            "<i class='glyphicon glyphicon-lock'></i>&nbsp;&nbsp;Tip: Integrate SpiderFoot with other tools to strengthen your security assessment and vulnerability analysis.",
            "<i class='glyphicon glyphicon-education'></i>&nbsp;&nbsp;Tip: Explore different SpiderFoot modules to scan for everything from IP addresses to domain and email information.",
            "<i class='glyphicon glyphicon-wrench'></i>&nbsp;&nbsp;Tip: Use the CLI version of SpiderFoot for scripting and automation. See how on my GitHub: <a target=_new href='https://github.com/Gyarbij/spiderfoot'>SpiderFoot CLI on GitHub</a>.",
            "<i class='glyphicon glyphicon-eye-open'></i>&nbsp;&nbsp;Tip: SpiderFoot's web interface makes it easy to visualize relationships between data points and potential vulnerabilities.",
            "<i class='glyphicon glyphicon-console'></i>&nbsp;&nbsp;Tip: You can customize SpiderFoot's scan configurations to focus on specific types of data, like social media profiles or DNS records.",
            "<i class='glyphicon glyphicon-cog'></i>&nbsp;&nbsp;Tip: For in-depth research, use SpiderFoot’s integration with public APIs for more comprehensive OSINT scanning.",
            "<i class='glyphicon glyphicon-leaf'></i>&nbsp;&nbsp;Tip: Check out the source code and contribute to the SpiderFoot open-source project: <a target=_new href='https://github.com/Gyarbij/spiderfoot'>SpiderFoot GitHub Repo</a>."
        ]

        import random
        message = messages[random.randint(0, len(messages)-1)]
        %>
        <span>${message}</span>
      </div>
    </footer>

    </body>
</html>